h1 {
    text-align: center;
}
.counters {
    display: flex;
    flex-direction: column;
    row-gap: 40px;
    padding: 40px;
    border: 2px solid black;
}
.counter {
    display: flex;
    flex-direction: column;
    column-gap: 20px;
    row-gap: 20px;
}
.counter_btns, .counter_name {
    display: flex;
    column-gap: 20px;
}
hr {
    width: 100%;
}

