.wrap {
    row-gap: 40px;
    border: 2px solid black;
    box-sizing: border-box;
    padding: 30px;
}
.users {
    display: grid;
    grid-template-columns: repeat(5,1.5fr);
    grid-column-gap: 40px;
    margin: 20px auto;
    padding: 10px 20px;
}
.comment {
    padding: 10px 0;
}